doctype html
html(ng-app='Cronbach')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Angular Material style sheet
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.5/md-data-table.min.css")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    base(href='/')
    
  body(ng-cloak='')
    div(ng-controller='Simulator', layout='column', ng-cloak='')
      md-toolbar()
        h3
          span Simulator Cronbach's alpha
      md-content(flex='', style='min-height:89vh;')
        div(layout='row')
          div(flex='25', layout-margin='20')
            md-whiteframe.md-whiteframe-1dp(layout='column', layout-align='center center')
              md-input-container.md-icon-float
                label Number of Questions
                md-icon format_list_numbered
                input(ng-model='questions', type='number')
                div(style="font-size: 12px;color: grey;")
              md-input-container.md-icon-float.md-block
                label Number of surveys
                md-icon equalizer
                input(ng-model='surveys', type='number')
                div(style="font-size: 12px;color: grey;") 
              md-button.md-raised.md-primary(ng-click='simulate()') Simular
          div(layout-margin='20', flex='')
            div(layout="row" layout-sm="column" layout-align="space-around" ng-show="alpha == 0")
              md-progress-circular(md-mode="indeterminate")
            md-whiteframe.md-whiteframe-1dp(flex='', layout='column' ng-show="alpha > 0")
              md-toolbar(layout="row" layout-padding="20"  layout-align="start center")
                span Alpha = {{alpha}}
              md-content
                md-list(flex)
                  md-subheader(class="md-no-sticky") Simulations = {{intents}}
                  md-list-item(class="md-2-line" ng-repeat="q in matrix" ng-click="null")
                    div(class="md-list-item-text" layout="column")
                      h3 Poll {{$index+1}}
                      h4 {{q}}
            
            
              
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js')
    script(src='https://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js')
    script(src='app.js', charset='utf-8')
